useDynLib(Waypoint, .registration=TRUE)
import(methods, Rcpp)
exportPattern("^[[:alpha:]]+")
S3method(as_coords,default)
S3method(as_coords,waypoints)
S3method(as_waypoints,default)
S3method(convert,coords)
S3method(convert,waypoints)
S3method(format,coords)
S3method(format,waypoints)
S3method(print,coords)
S3method(print,waypoints)
S3method(review,coords)
S3method(review,waypoints)
S3method(validate,coords)
S3method(validate,waypoints)
S3method(`[`,coords)
S3method(`[<-`,coords)
export(`%L%`)
